.chatmessage {
    top: 58%;
    /* height: 100px; */
    width: 350px;
    background-color: skyblue;
    display: block;
    position: absolute;
    right: 40px;

    transform: translateY(-50);
    transition: 0.5s ease;
}
.anyClass {
  height:300px;
  overflow-y: scroll;
  overflow-x:hidden;
}

.uploadimg{
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    border-radius: 100px;

}
.uploadimg button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: baseline;

}
.uploadimg:hover button{
    opacity: 0.5;
    display: block;
    background-color: white;
    border-radius: 50%;
    border: none;
    color: blue;
}
.check-box{
    accent-color: red;
}
.table_card_view { border-collapse: collapse; }

    @media only screen and (max-width:768px) and (min-width:200px)  {
      .table_card_view, .table_card_view thead, .table_card_view tbody,
      .table_card_view th, .table_card_view td, .table_card_view tr
      { display: block; }

      .table_card_view thead tr { position: absolute; top: -9999px; left: -9999px; }

      .table_card_view tr
      { border: 1px solid #ccc; margin-top: 4%; border-radius:7px; }

      .table_card_view td {
      border: none; border-bottom: 0px solid #eee;position: relative; padding-left: 50%;
     }

    .table_card_view td:before {
        top: 6px; left: 6px; width: 45%;padding-right: 10px;  white-space: nowrap;
        content: attr(data-column); color: #000; font-weight: bold;
     }
  }
